:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', cursive;
  --primary-white-color: #ffffff;
  --lable-color: #000000
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

displey: flex

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.div {
  display: block;
}

.box {
  width: 130;
  min-height: 75;
  background-color: teal;
  color: fff;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

body {
  margin: 0;
  font-family: 'Roboto';
  font-family: var(--main-font);
  background-color: var(--primary-white-color);
}

.hider-container {
  display: flex;
}

.link {
    text-decoration: none;
}

.list {
  display: flex;
  align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

.lable {
    color: var(--primary-white-color);
}

.pointer {
    cursor: pointer;
}

.head {
     font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: #2F303A;;
}

.head-title {
  margin-top: 0;
  padding-bottom: 0;
    margin-top: 200px;
    margin-left: 452px;
    margin-right: 452px;
    margin-bottom: 280px;
   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    color: #FFFFFF;
}

/* Logo */

.logo {
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
  margin-left: 215px;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

ul {
  margin-top: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.logo-dark {
  font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  color: var(--lable-color);
}

.logo-light {
  font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.filter-button {
  border: none;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.site-nav-link {
 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

.contact {
    margin-top: 0;
    padding-bottom: 0;
      display: flex;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--secondary-text-color);
}

.current {
  color: var(--accent-color);
}

.contact-tel {
  color: var(--secondary-text-color);
}

.feature-skills {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.section-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 94px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.section-title-bg {
  background-color: #F5F4FA;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 94px;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--main-text-color);
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.features-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.features-text {
  margin-top: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.tim-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.tim-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.head {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

/* Button */
.button-color {
  
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.properties {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
    border-radius: 4px;
    padding: 10px 32px;
    text-transform: uppercase;
    
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
      color: var(--primary-white-color);
}

/* Наши преимущества */

.themes {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: var(--main-text-color);
}

.thems-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.03em;
      color: var(--secondary-text-color);
}

/* Футер */

.contact-footer {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.tel-color {
  font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.style-footer {
  background-color: #2F303A;;
}

.street {
font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/* Спрятанный заголовок */
.visually-hidden {
  
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
